<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Bus Ticket Booking | Fast & Secure Travel</title>
<meta name="description" content="Book bus tickets easily. Fast, secure and affordable travel across India.">


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">


<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/home_style.css?v=9}"/>

</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="logo">
        <i class="fas fa-bus"></i> BusBooking
    </div>

    <div class="nav-links">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/buses}">See Buses</a>
        <a th:href="@{/tickets}">View Tickets</a>
        <a th:href="@{/tickets/search}">Search Ticket</a>
    </div>
</nav>

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-overlay">
        <div class="hero-content">
            <h1>India's Trusted Bus Ticket Booking</h1>
            <p>Fast • Secure • Affordable Travel</p>

            <!-- SEARCH FORM -->
            <form th:action="@{/buses/search}" method="get" class="search-bar">

                <div class="input-group">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text"
                           name="source"
                           placeholder="From (e.g. Pune)"
                           required>
                </div>

                <div class="input-group">
                    <i class="fas fa-location-arrow"></i>
                    <input type="text"
                           name="destination"
                           placeholder="To (e.g. Mumbai)"
                           required>
                </div>


                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i> Search
                </button>

            </form>

        </div>
    </div>
</section>

<!-- QUICK ACTIONS -->
<section class="quick-actions">

    <a th:href="@{/tickets/add}" class="action-card">
        <i class="fas fa-ticket-alt"></i>
        <h3>Book Ticket</h3>
    </a>

    <a th:href="@{/tickets}" class="action-card">
        <i class="fas fa-list"></i>
        <h3>View Tickets</h3>
    </a>

    <a th:href="@{/tickets/search}" class="action-card">
        <i class="fas fa-search"></i>
        <h3>Search Ticket</h3>
    </a>

    <a th:href="@{/tickets/cancel}" class="action-card">
        <i class="fas fa-times-circle"></i>
        <h3>Cancel Ticket</h3>
    </a>

</section>

<!-- FOOTER -->
<footer>
    <p>© 2026 BusBooking | Built by VS</p>
</footer>

</body>
</html>