<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bus Ticket Booking System</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/home_style.css?v=8}"/>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar">
  <div class="logo">
    <i class="fas fa-bus"></i> BusBooking
  </div>

  <div class="nav-links">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/buses}">See Buses</a>
    <a th:href="@{/tickets}">View Tickets</a>
    <a th:href="@{/tickets/search}">Search Ticket</a>
</div>
</nav>

<section class="hero">
  <div class="hero-overlay">
    <div class="hero-content">
      <h1>India's Trusted Bus Ticket Booking</h1>
      <p>Fast • Secure • Affordable Travel</p>

     <form th:action="@{/buses/search}" method="get" class="search-bar">

    <input type="text"
           name="source"
           placeholder="From (e.g. Pune)"
           required>

    <input type="text"
           name="destination"
           placeholder="To (e.g. Mumbai)"
           required>

    <button type="submit" class="search-btn">
        <i class="fas fa-search"></i> Search Buses
    </button>

</form>

    </div>
  </div>
</section>

<section class="quick-actions">

  <a th:href="@{/tickets/add}" class="action-card">
    <i class="fas fa-ticket-alt"></i>
    <h3>Book Ticket</h3>
  </a>

  <a th:href="@{/tickets}" class="action-card">
    <i class="fas fa-list"></i>
    <h3>View Tickets</h3>
  </a>

  <a th:href="@{/tickets/search}" class="action-card">
    <i class="fas fa-search"></i>
    <h3>Search Ticket</h3>
  </a>

  <a th:href="@{/tickets/cancel}" class="action-card">
    <i class="fas fa-times-circle"></i>
    <h3>Cancel Ticket</h3>
  </a>

</section>

<footer>
  <p>© 2026 BusBooking | VS</p>
</footer>

</body>
</html>